<p id="notice"><%= notice %></p>

<h1>Listing Shareds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Sent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shareds.each do |shared| %>
      <tr>
        <td><%= shared.user %></td>
        <td><%= shared.book %></td>
        <td><%= shared.sent %></td>
        <td><%= link_to 'Show', shared %></td>
        <td><%= link_to 'Edit', edit_shared_path(shared) %></td>
        <td><%= link_to 'Destroy', shared, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shared', new_shared_path %>
